/* Ceci est un commentaire en CSS - Les navigateurs ignorent les commentaires.
De cette manière nous pouvons laisser des messages pour d'autres codeurs et des explications de ce que nous avons fait. */

/* Dans les 4 selectors suivants nous allons travailler sur la navigation de notre page.

Nous découvrons ici la possibilité d'utiliser des selectors composés ex : header ul  Ceci permet, par exemple, de cibler les elements de la liste du header sans affecter ceux du footer.
 */
header {
  background: rgb(11, 67, 75);
  padding: 12px;
}

header ul {
  list-style-type: none;
}

header li {
  display: inline-block;
  border: 1px solid #ffffff;
}

header a {
  text-decoration: none;
  color : #ffffff;
  padding: 12px;
  display: block;
}

/* A noter ici :
1. L'utilisation d'une class sur la div, nous la ciblons ici dans la CSS au moyen d'un point .
2. l'utilisation de background image et de background size
3. une hauteur minimal à la div. (pour comprendre ce qu'est une VH : https://css-tricks.com/the-lengths-of-css/)
*/
.hero {
  background: rgb(33, 100, 0) url('images/bg-xl-1440.jpg') top center no-repeat;
  color : #fff;
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero h1 {
  background: rgba(255, 0, 0, 0.5);

}
/* Sur les sections :
1. Nous utilisons encore une hauteur minimale pour faciliter la lecture et le rythme vertical de la page.
2. Nous utilsons des classes pour permettre d'aleterner visuellement les sections.
*/
section {
  min-height: 90vh;
  padding: 42px;
}

.odd {
  background: rgb(100, 132, 190);
}

.even {
  background: rgb(229, 111, 237);
}

/* Nous souhaitons que les images soient responsives... c'est à dire n'éxcèdent pas une certaine largeur ET se redimensionnent avec leur parent */

.image-block {
  max-width: 640px;
  border: 12px solid #000;
}

.image-block img {
  width : 100%;
display:block;
}

figcaption {
  font-family: 'Fahkwang', serif;
  font-style: italic;

}

footer {
  min-height: 200px;
  background: #000;
  color : #fff;
}

#section02 h1{
  font-family: 'Abril Fatface',cursive;
  font-size: 7em;
  font-weight: 800;
}
#section02 p{
  font-family: 'Crete Round',serif;
  font-size: 1em;
  line-height: 2;
}

/*

// Small devices

// Medium devices (landscape phones, 576px and up)
@media (min-width: 640px) { ... }

// Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

// Extra large devices

@media (min-width: 1440px) { ... }

*/
